// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body { font-size: 88%; }
//blockquote { font-size: 105%; }

.footnotes {
    font-size: 70%;
}
